.mapTitle {
  color: var(--dark-text-primary, #F3F3F6);
  text-align: center;
  /* Desktop/H4/Bold */
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.088px;
  max-width: 780px;
  margin: 0 auto 40px;
}

.mapTitleMobile {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  letter-spacing: -0.049px;
  margin: 0 auto 24px;
}

.mapContainer {
  max-width: 1080px;
  margin: 0 auto;
}

.map {
  background-color: #2D2D32;
  border-radius: 24px;
}

.continent {
  fill: rgba(255, 255, 255, 0.10);
}

.validatorDot {
  fill: #34BCFF;
}

.validatorDotPulse {
  --active-opacity: 0.7;
  --active-scale: 1;
  --off-opacity: 0;
  --off-scale: 0;
  fill: #34BCFF;
  opacity: var(--active-opacity);
  transform: scale(0);
  animation: pulse 20s linear var(--animation-delay, 0s) forwards infinite;
}

.validatorText {
  fill: #FFF;
  text-anchor: middle;
  dominant-baseline: middle;
}

.validatorsLink {
  stroke: url(#connection-linear-gradient);
  stroke-width: 1px;
  stroke-linecap: round;
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 20s linear var(--animation-delay, 0s) forwards infinite;
}

@keyframes dash {
  15%, 29.99999% {
    stroke-dashoffset: 1000;
  }
  30% {
    stroke-dashoffset: -1000;
  }
  45%, 100% {
    stroke-dashoffset: 0;
  }
}

@keyframes pulse {
  70%, 80.0001%, 90.0001% {
    transform: scale(var(--off-scale));
    opacity: var(--active-opacity);
  }
  80%, 90%, 100% {
    transform: scale(var(--active-scale));
    opacity: var(--off-opacity);
  }
}