.map {
  background-color: #2D2D32;
  border-radius: 3rem;
}

.continent {
  fill: #7e7e7e;
}

.validatorDot {
  fill: #34BCFF;
}

.validatorText {
  fill: #FFF;
  text-anchor: middle;
  dominant-baseline: middle;
}

.validatorsLink {
  stroke: url(#connection-linear-gradient);
  stroke-width: 1px;
  stroke-linecap: round;
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 20s linear var(--animation-delay, 0s) forwards infinite;
}

@keyframes dash {
  15% {
    stroke-dashoffset: 0;
  }
  85% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -1000;
  }
}