.map {
  background-color: #2D2D32;
  border-radius: 3rem;
}

.continent {
  fill: #7e7e7e;
}

.validatorDot {
  fill: #34BCFF;
}

.validatorText {
  fill: #FFF;
  text-anchor: middle;
  dominant-baseline: middle;
}

.validatorsLink {
  stroke: url(#connection-linear-gradient);
  stroke-width: 2px;
  stroke-linecap: round;
  fill: none;
}