.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-height: 72px;
  flex-grow: 1;
}

.value {
  color: var(--text-primary, #F3F3F6);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
}

.title {
  color: var(--text-tertiary, #ACACAF);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.025px;
}

@media screen and (max-width: 1440px) {
  .value {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 127.273% */
    letter-spacing: -0.031px;
  }

  .title {
    font-variant-numeric: lining-nums tabular-nums;

    /* Mobile/Body 2/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.008px;
  }
}